nav {
    background-color: #011936;
    display: flex;
    justify-content: flex-end;
}
nav a {
    text-decoration: none;
    margin: 1rem;
    font-family: 'Merriweather', serif;
    color: rgb(255, 255, 255);
    transition: 250ms ease-out;
}
nav a:hover {
    color: rgb(167, 166, 166);
}
#navigateHome {
    margin-right: auto;
    
}
#navigateHome:hover {
    color: rgb(167, 166, 166);
}
body {
    background-color: #82a3a1;
}
#projectsHeading {
    text-align: center;
    margin-top: 1rem;
}

.projectLayout {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}